*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
body { background: #0D0D0D; font-family: 'Fira Sans', sans-serif; }
input, button, textarea, select { font-family: 'Fira Sans', sans-serif; }
svg text { font-family: 'Fira Code', monospace; }
